## **UIDAI ENROLMENTS PYSPARK ASSIGNMENT :**

## **UIDAI ENROLMENT DETAILES :**

| ATTRIBUTE NAME|INFORMATION|
|---|---|
|Registrar| The name of the registrar office, generally this is government approval body governing the process.|
|Enrolment Agency| The name of the private agency working for registration of Aadhaar cards in a particular region. |
|State| The name of the state. |
|District| The name of the district. |
|Sub District| Name of the major cities in a particular district. |
|Pin Code| The postal code of an area. |
|Gender| Gender of the person who is applying for Aadhaar. |
|Age| Age of the person who is applying for Aadhaar. |
|Aadhaar Generated| This is the total number of Aadhaar cards generated on a particular day. |
|Enrolment Rejected| This is the total number of enrolments rejected on a particular day. |
|Residents Providing Email| Whether the resident provided the email at the time of enrolment or not. |
|Residents Providing Mobile Number| Whether the resident provided the mobile number at the time of enrolment or not. |

In [9]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=177ddfa500cb3803a9407030805b9e49f7ef6c1e23c8a20023c57eb7dd3b6ad4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [10]:
# IMPORTING REQUIRED LIBRARIES 

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Assignment').getOrCreate()
import pyspark.sql.functions as f

In [13]:
## READING FILE USING PYSPARK

aadhaar = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/content/UIDAI-ENR-DETAIL-20170308.csv")
aadhaar.show()

+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|           Registrar|    Enrolment Agency|        State|  District|Sub District|Pin Code|Gender|Age|Aadhaar generated|Enrolment Rejected|Residents providing email|Residents providing mobile number|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|      Allahabad Bank|A-Onerealtors Pvt...|Uttar Pradesh| Allahabad|        Meja|  212303|     F|  7|                1|                 0|                        0|                                1|
|      Allahabad Bank|Asha Security Gua...|Uttar Pradesh| Sonbhadra| Robertsganj|  231213|     M|  8|                1|                 0|                        0|                                0|
|      Allahabad Bank|   SGS INDIA PVT LTD|Uttar Pradesh| Sultanpur|   Sultanpur|  227812|     F| 13|                1|                 0|                        0|                                1|
|      Allahabad Bank|Sri Ramraja Sarka...|Uttar Pradesh|    Shamli|      Shamli|  247775|     M|  6|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh| Gorakhpur|    Sahjanwa|  273001|     M|  8|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|      Pindra|  221101|     M| 14|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221001|     M|  9|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M|  4|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 10|                0|                 1|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 19|                1|                 0|                        0|                                1|
|      Allahabad Bank|Vedavaag Systems ...|Uttar Pradesh|Bara Banki|   Nawabganj|  225301|     M|  8|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Assam|  Marigaon|   Bhuragaon|  782121|     M| 22|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Bihar| Gopalganj|  Vijayeepur|  841508|     M| 26|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587114|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     F|  2|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     M| 67|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587201|     F| 32|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587203|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     F| 40|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     M| 28|                1|                 0|                        0|                                1|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 20 rows

##### Q1. Create a dataframe with Total Aadhaar's generated for each state.

In [19]:
## GROUPING BY THE ALL THE STATES AND 
## FINDING THE TOTAL COUNT OF AADHAAR GENERATES IN ALL STATES

aadhaar_gen = aadhaar.groupby("State").sum("Aadhaar generated")
aadhaar_gen.show()

+--------------------+----------------------+
|               State|sum(Aadhaar generated)|
+--------------------+----------------------+
|            Nagaland|                   440|
|           Karnataka|                 19094|
|              Odisha|                 14185|
|              Kerala|                 15122|
|          Tamil Nadu|                 12161|
|        Chhattisgarh|                  6556|
|      Andhra Pradesh|                  5623|
|      Madhya Pradesh|                 51919|
|              Punjab|                  6237|
|             Manipur|                  1312|
|                 Goa|                  1068|
|             Mizoram|                  6277|
|Dadra and Nagar H...|                    86|
|    Himachal Pradesh|                  1472|
|          Puducherry|                    82|
|             Haryana|                  6541|
|   Jammu and Kashmir|                   551|
|           Jharkhand|                  9512|
|   Arunachal Pradesh|                   898|
|             Gujarat|                 31232|
+--------------------+----------------------+
only showing top 20 rows

##### Q2. Create a dataframe with Total Aadhaar's generated by each enrollment agency.

In [21]:
## CREATING A DATAFRAME WITH TOTAL_AADHAAR_GEN
## GROUPING BY THE ENROLMENT ANGENCY AND 
## FINDING TOTAL AADHAAR'A GENERATED BY EACH ENROLMENT AGENCY

total_aadhaar_gen = aadhaar.groupby("Enrolment Agency").sum("Aadhaar generated")
total_aadhaar_gen.show()

+--------------------+----------------------+
|    Enrolment Agency|sum(Aadhaar generated)|
+--------------------+----------------------+
|NPS Technologies ...|                  9692|
|    APOnline Limited|                   305|
|  Transmoovers India|                     5|
|Netlink software ...|                  4832|
|Estex Telecom Pvt...|                  1894|
|IAP COMPANY Pvt. Ltd|                 10644|
|Prakash Computer ...|                  2817|
|HyperSoft Technol...|                    33|
|     Alankit Limited|                  3848|
|Conatus Infocom P...|                   477|
|Twinstar Industri...|                  3610|
|OSWAL COMPUTERS &...|                   872|
|SHRIKRISHNA KHAND...|                     1|
|Atalji Janasnehi ...|                  1369|
|Sri Ramraja Sarka...|                     1|
|Indotech Engineer...|                  2965|
|             CSC SPV|                173192|
|Asha Security Gua...|                   768|
|KDS Services Priv...|                  1705|
|Nevaeh Technology...|                   793|
+--------------------+----------------------+
only showing top 20 rows

##### Q3. Create dataframe with top 10 districts with maximum Aadhaar's generated for both Male and Female?

In [34]:
## CREATING A DATAFRAME AS 'TOP_MAX'
## USING GROUPBY FUNCTION TO BOTH DISTRICT AND GENDER ATTRIBUTES
## AND FINDING THE SUM OF AADHAAR GENERATED
## PRINTING TOP 10 DISTRICTS WITH MAXIMUM AADHAAR'S GENERATED

top_max = aadhaar.groupby("District", "Gender").sum("Aadhaar generated").orderBy(f.desc("sum(Aadhaar generated)"))
top_max.show(10)

+-----------------+------+----------------------+
|         District|Gender|sum(Aadhaar generated)|
+-----------------+------+----------------------+
|        Bhagalpur|     M|                 10427|
|       Barddhaman|     F|                  9488|
|South 24 Parganas|     F|                  8203|
|South 24 Parganas|     M|                  6831|
|North 24 Parganas|     F|                  5903|
|       Samastipur|     M|                  5881|
|          Katihar|     M|                  5201|
|             Gaya|     M|                  5198|
|       Barddhaman|     M|                  4900|
|           Munger|     M|                  4892|
+-----------------+------+----------------------+
only showing top 10 rows

##### Q4. Create a dataframe with Total Aadhaar's generated for top 10 least state.

In [36]:
## CREATING DATAFRAME AS 'TOP_LEAST_STATE'
## USING GROUP BY FUNCTION TO STATE ATTRIBUTE
## AND FINDING THE SUM OF AADHAAR GENERATES
## PRINTING TOTAL AADHAAR'S GENERATED FOR TOP 10 LEAST STATE.

top_least_state = aadhaar.groupby("State").sum("Aadhaar generated").orderBy(f.asc("sum(Aadhaar generated)"))
top_least_state.show(10)

+--------------------+----------------------+
|               State|sum(Aadhaar generated)|
+--------------------+----------------------+
|         Lakshadweep|                     4|
|Andaman and Nicob...|                     5|
|              Others|                    10|
|       Daman and Diu|                    25|
|              Sikkim|                    47|
|          Puducherry|                    82|
|Dadra and Nagar H...|                    86|
|             Tripura|                   154|
|           Meghalaya|                   198|
|          Chandigarh|                   250|
+--------------------+----------------------+
only showing top 10 rows

##### Q5. For which age most adhar card has declined ?

In [38]:
## USING GROUP BY FUNCTION TO AGE ATTRIBUTE 
## AND FINDING THE SUM OF THE ENROLMENT REJECTION
## PRINT THAT FOR WHICH AGE MOST AADHAAR CARD HAS DECLINED.

aadhaar.groupby("Age").sum("Enrolment Rejected").orderBy(f.desc("sum(Enrolment Rejected)")).show(1)

+---+-----------------------+
|Age|sum(Enrolment Rejected)|
+---+-----------------------+
|  4|                   4665|
+---+-----------------------+
only showing top 1 row